.signupModalWrapper {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupModalWrapper > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    gap: 10px;
    margin-top: 20px;
}

.signupLabel {
    width: 100%;
}

.signupInput {
    width: 98%;
    background-color: #dee7e4;
}

.signupForm input:focus {
    border-color: #5c8374;
    box-shadow: 0 0 10px #5c8374;
    outline: none;
}

.signupForm p {
    padding: 5px;
    color: red;
}

.disabled {
    background-color: #afdfdf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}

.success {
    background-color: #c6286d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}

.success:hover {
    color: #FFD700;
    box-shadow: 1px 1px 5px 1px black;
}
