.signupModalWrapper {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signupModalWrapper > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 25px; */
}

.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupForm input {
    width: 25rem;
    margin: 5px 20px;
    background-color: #dee7e4;
}

.signupForm input:focus {
    border-color: #5c8374;
    box-shadow: 0 0 10px #5c8374;
    outline: none;
}

.signupForm p {
    padding: 5px;
    color: red;
}

.disabled {
    background-color: #afdfdf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

.success {
    background-color: #c6286d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

.success:hover {
    color: black;
    box-shadow: 1px 1px 5px 1px black;
}
