.stars-input {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 8px;
}

#review-form {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#full-review {
    min-width: 400px;
    min-height: 100px;
}

#submit-button {
    min-width: 400px
}
