#review-button button {
    background-color: #3061e3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

#review-button button:hover {
    background-color: rgb(255,215,143);
}

.review {
    border: 3px solid rgb(49,153,56);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    width: fit-content;
}

#review-button {
    padding-bottom: 10px;
}

.delete-button:hover, #review-button>*:hover {
    cursor: pointer;
}
