.review {
    border: 3px dotted rgb(49,153,56);
    padding-left: 5px;
    margin-bottom: 10px;
}

#review-button {
    padding-bottom: 10px;
}


.delete-button:hover, #review-button>*:hover {
    cursor: pointer;
}
