#spots {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    width: auto;
    margin: 0 auto;
    padding-top: 20px;
    /* padding-left: 10px; */
    box-sizing: border-box;
    /* flex-direction: row;
    flex-wrap: wrap; */
}

.spot-card {
    border: 2px solid rgb(49,153,56);
    background-color: #FFE5B4;
    border-radius: 8px;
    margin-right: 15px;
    padding: 15px;
}

.spot-info {
    background-color: white;
}

#curr-title, #new-spot-btn {
    margin-left: 45px;
}

.edit-or-delete {
    display: flex;
}

.edit-or-delete>*:last-child, #update-btn, .spot-info, .spot-price, .spot-location {
    margin-left: 5px;
    margin-bottom: 5px;
}

.avg-rate {
    margin-bottom: 5px;
    margin-right: 5px;
}

.name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.spot-img {
    width: 300px;
    height: 200px;
}

#confirm-delete {
    display: flex;
    flex-direction: column;
    padding: 8px;
    /* max-width: 300px; */
}

#confirm-delete>h2, span {
    align-self: center;
}

#confirm-delete>button {
    /* margin: 4px 4px; */
    padding: 10px;
}

#delete-complete {
    background-color: red;
    box-shadow: 5px 5px 5px grey;
    color: white;
    border: black solid 1px;
    font-size: 18px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
}

#delete-cancel {
    background-color: darkgray;
    box-shadow: 5px 5px 5px grey;
    color: white;
    border: black solid 1px;
    font-size: 18px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
}

.spot-img:hover, #new-spot-btn:hover, .edit-or-delete>*:last-child, #update-btn, #delete-complete, #delete-cancel {
    cursor: pointer;
}
