.edit-or-delete {
    display: flex;
}

.spot-card {
    border: 2px solid maroon;
    background-color: silver;
    border-radius: 8px;
    margin-right: 15px;
    padding: 15px;
}

.spot-info {
    background-color: white;
}

#curr-title, #new-spot-btn {
    margin-left: 45px;
}

.edit-or-delete>*:last-child, #update-btn, .spot-info, .price, .location {
    margin-left: 5px;
    margin-bottom: 5px;
}

.avg-rate {
    margin-bottom: 5px;
    margin-right: 5px;
}

.name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.edit-or-delete>*:last-child, #update-btn {
    cursor: pointer;
}

.spot-img {
    width: 300px;
    height: 200px;
}

#confirm-delete {
    display: flex;
    flex-direction: column;
    padding: 8px;
    /* max-width: 300px; */
}

#confirm-delete>h2, span {
    align-self: center;
}

#confirm-delete>button {
    margin: 4px 4px;
    padding: 4px 4px;
}

#delete-complete {
    background-color: red;
}

#delete-cancel {
    background-color: darkgray;
}

#spots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
