#this-spot {
    margin-top: 20px;
    margin-bottom: 20px;
}

#spots {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    width: auto;
    margin: 0 auto;
    padding-top: 20px;
    box-sizing: border-box;
}

#new-spot-btn {
    background-color: #3061e3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}

#new-spot-btn:hover {
    color: #FFD700;
    box-shadow: 1px 1px 5px 1px black;
}

.spot-card {
    margin-right: 15px;
    padding: 15px;
}

.spot-card:hover {
    border: 2px solid #da2528;
    border-radius: 1em;
    background-color: #FFE5B4;
    cursor: pointer;
    box-shadow: 5px 5px 5px grey;
    color: #3061e3;
}

#curr-title, #new-spot-btn {
    margin-top: 20px;
    margin-left: 55px;
}

.edit-or-delete {
    display: flex;
}

.edit-or-delete button {
    background-color: #3061e3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

.edit-or-delete button:hover {
    color: #FFD700;
    box-shadow: 1px 1px 5px 1px black;
}

.spot-info, .spot-price, .spot-location {
    margin-left: 5px;
    margin-bottom: 5px;
}

.avg-rate {
    margin-bottom: 5px;
    margin-right: 5px;
}

.name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.spot-img {
    width: 300px;
    height: 200px;
}

#confirm-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

#confirm-delete>h2, span {
    align-self: center;
}

#confirm-delete>button {
    padding: 10px;
}

#delete-complete {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

#delete-cancel {
    background-color: darkgray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

#delete-complete:hover, #delete-cancel:hover {
    color: black;
    box-shadow: 1px 1px 5px 1px black;
}
