.single-spot {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.info {
    background-color: #FFE5B4;
    margin-bottom: 15px;
}

.image-sec {
    display: grid;
    grid-template-areas:
        "a a b c"
        "a a d e";
    margin-bottom: 1rem;
    max-width: 1000px;
    justify-content: center;
}

.spot-image-0 {
    grid-area: a;
    width: 350px;
    height: 300px;
    border: black;
    border-width: 20px;
}

.spot-image-1 {
    grid-area: b;
    width: 200px;
    height: 150px;
    border: black;
    border-width: 20px;
}

.spot-image-2 {
    grid-area: c;
    width: 200px;
    height: 150px;
    border: black;
    border-width: 20px;
}

.spot-image-3 {
    grid-area: d;
    width: 200px;
    height: 150px;
    border: black;
    border-width: 20px;
}

.spot-image-4 {
    grid-area: e;
    width: 200px;
    height: 150px;
    border: black;
    border-width: 20px;
}

.desc {
    flex-grow: 2;
}

.callout {
    border: black solid 1px;
    border-radius: 10px;
    flex-grow: 1;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .misc>button {
    width: 100%;
    padding: 8px 5px;
} */

.extraInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cashNView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
