.single-spot {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.location {
    /* background-color: #FFE5B4; */
    margin-bottom: 30px;
}

.image-sec {
    display: grid;
    grid-template-areas:
        "a a b c"
        "a a d e";
    margin-bottom: 3em;
    /* max-width: 1000px; */
    justify-content: space-evenly;
}

.spot-image-0 {
    grid-area: a;
    width: 550px;
    height: 450px;
    border: 1px solid #319938;
    margin-right: 20px;
}

.spot-image-1 {
    grid-area: b;
    width: 300px;
    height: 200px;
    border: 1px solid #319938;
    margin-top: 10px;
    margin-right: 20px;
}

.spot-image-2 {
    grid-area: c;
    width: 300px;
    height: 200px;
    border: 1px solid #319938;
    margin-top: 10px;
    margin-right: 20px;
}

.spot-image-3 {
    grid-area: d;
    width: 300px;
    height: 200px;
    border: 1px solid #319938;
    margin-top: 10px;
    margin-right: 20px;
}

.spot-image-4 {
    grid-area: e;
    width: 300px;
    height: 200px;
    border: 1px solid #319938;
    margin-top: 10px;
    margin-right: 20px;
}

.desc {
    flex-grow: 2;
}

.callout {
    border: black solid 1px;
    border-radius: 10px;
    flex-grow: 1;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#reserve-button {
    width: 100%;
    padding: 8px 5px;
}

#reserve-button:hover {
    cursor: pointer;
}

.extraInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cashNView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
