.all-spots-contain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
  /* gap: 15px; */
  width: auto;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 10px;
  box-sizing: border-box;
}

.one-spot-contain {
  border: 2px solid #da2528;
  border-radius: 1em;
  background-color: #FFE5B4;
  padding: 15px;
  width: 300px;
}

.info {
  width: auto;
  background-color: #FFE5B4;
}

.name {
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 1px solid #319938;
  background-color: #ffffff;
  border-radius: 8px;
  font-weight: bold;
  overflow: hidden;
  padding-left: 5px;
  /* max-width: 200px; */
}

.location, .price {
  margin-left: 5px;
}

.image {
  width: 300px;
  height: 200px;
}

.avg-rate {
  display: flex;
  justify-content: flex-end;
}

.image:hover, .name:hover {
  cursor: pointer;
}
