.hidden {
  display: none;
}

#logo {
  width: 75px;
  height: 75px;
  padding-left: 20px;
}

.site-title {
  padding-top: 20px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: #3061e3;
}

.site-title:hover {
  color: black;
  text-decoration: underline;
}

#navbar-left {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

#navbar-right {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

#nav-links-contain {
  display: flex;
  align-items: center;
}

#navbar-full {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px gray solid;
  background-color: rgba(209, 208, 175, 0.807);
  margin: 0%;
}

.profile-dropdown {
  list-style-type: none;
  position: relative;
}

.prof-sec {
  padding-right: 20px;
}

#popup {
  position: absolute;
  border: black solid 2px;
  border-radius: 5px;
  right: 0;
  top: 5px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 247, 248);
  width: 100px;
}

#popup button {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  padding: 0;
  margin: 0;
  justify-items: center;
  width: 100%;
  font-size: medium;
}

#popup button:hover {
  border-radius: 0;
  color: #3061e3;
}

#popup>*:first-child {
  border-bottom: 1px solid black;
}

#popup>*:last-child {
  margin-top: 8px;
}

#profile-popup {
  position: absolute;
  border: black solid 2px;
  border-radius: 5px;
  right: 0;
  top: 5px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 247, 248);
  justify-content: center;
  width: fit-content;
}

#profile-popup>*:nth-last-child(n + 2) {
  margin-bottom: 8px;
  border-bottom: 1px solid black;
}

#profile-popup>*:last-child {
  align-self: center;
}

#profile-popup li {
  width: 100%;
  text-align: center;
}

#profile-popup button {
  background-color: #3061e3;
  align-self: center;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

#profile-popup button:hover {
  color: black;
  box-shadow: 1px 1px 5px 1px black;
}

#prof-but {
  border-radius: 10px;
  width: fit-content;
  height: 50px;
  position: static;
  display: inline-block;
}

#prof-but:hover {
  color: #3061e3;
  box-shadow: 1px 1px 5px 1px #FFD700;
  border: none;
}

.nav-link {
  margin-right: 8px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  text-align: center;
}

.nav-link:hover {
  color: #3061e3;
}

#prof-button {
  display: flex;
  align-items: center;
}

#prof-button>* {
  margin-right: 8px;
}

#profile-dropdown:hover, #logout:hover, #prof-but:hover, #popup>*:hover {
  cursor: pointer;
}

.fa-bars {
  padding-right: 10px;
}

.fa-bars, .fa-user-circle, .fa-sign-in-alt {
  font-size: 15px;
}
